.product_img{
    width: 170px;
    height: 400px;
    display: flex;
    align-items: center;
}
.product_img img{
    width:90%;
    margin-left: 5%;
}
.inf_card{
    text-align: left;
}
.card_p{
    width: 420px;
    border: 1px solid #e8e8e8;

    cursor: pointer;
}
.card_p:hover img{
    width: 100%;
}
.card_promo{
    width:100%;

}
.photo img{
    height: 170px;
}
.box_promo div{
    width: 33.33%;
}
.card_promo p {
    font-size: 22px;
}